.MultiCarousel {
    word-wrap: break-word;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.2); 
    background-color: #f5f4f4; float: left; 
    overflow: hidden; 
    padding: 10px; 
    width: 100%; 
    position:relative; 
}

.MultiCarousel .MultiCarousel-inner .item {
    position: relative;
    border-radius: 2px; 
    /* margin-left: auto;
    margin-right: auto; */
    float: left;
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2); 
    background-color: #f5f4f4;
    padding-left: 1%;
    padding-right: 1%;
}


.MultiCarousel .MultiCarousel-inner .item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

.MultiCarousel .MultiCarousel-inner .item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #151A48;
}

.MultiCarousel .MultiCarousel-inner .item:hover .overlay {
    opacity: 1;
  }

  .MultiCarousel .MultiCarousel-inner .item .text {
    
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:40%;top:calc(50% - 30px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
.main {
    /* padding-left: 2rem;
    padding-right: 2rem; */
  }